.navBarContainer{
    height: 90px;
    width: 100%;
    background: #1BBABB;
    position: fixed;
    
}
.navBarLayout{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    
    padding: 0 31px;
}
.navBarBackButtonContainer{
    width: 10%;
}
.navBarBackButton{
    background-color: transparent;
    color: #F5F5F5;
    font-family: "Product Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}
.navBarLogoContainer{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarLogoLayout{
    width: fit-content;
}

.checkOutContainer{
    width: 100%;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    
}
.checkOutLayout{
    width: 80%;
    display: flex;
}
.checkOutLeftColumnContainer{
    width: 50%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.checkOutLeftColumnTitle{
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 50px;
    width: 100%;
    max-width: 600px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: start;
}
.checkOutLeftColumnTermsContainer{
    margin-top: 21px;
    width: 100%;
    max-width: 600px;
    height: 412px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #EDFDFD;
}
.checkOutLeftColumnTermsLayout{
    width: 100%;
    height: 100%;
    padding: 39px 36px;
}
.checkOutLeftColumnTermsTitle{
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.checkOutLeftColumnTermsOptions{   
    padding-top: 10px;
}
.checkOutLeftColumnTermsDeliveryOptions{
    display: flex;

}
.checkOutLeftColumnTermsDeliveryOptionsContainer{
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 8px;
    border-radius: 15px;
    border: 0;
    text-align: start;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-right: 12px;

}

.checkOutLeftColumnTermsDeliveryOptionsContainerPrice{
    color: #D9D9D9;
}
.checkOutLeftColumnTermsDeliveryOptionsContainer:hover .checkOutLeftColumnTermsDeliveryOptionsContainerPrice{
    color: black;
}
.checkOutLeftColumnTermsDeliveryOptionsContainer:hover {
    background-color: rgba(92, 90, 87, 0.10);
}
.checkOutLeftColumnAddressContainer{
    width: 100%;
    padding-top: 12px;
}
.checkOutLeftColumnAddressButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -5px;
    padding: 5px 5px;
    border-radius: 10px;

}
.checkOutLeftColumnAddressButton:hover{
    background-color: rgba(92, 90, 87, 0.10);
}
.checkOutLeftColumnAddressButtonArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    width: 20px;
    height: 20px;
}
.checkOutLeftColumnAddressButtonPopUpContainer{
    position: absolute;
    display: flex;
    z-index: 100;
    width: 100vh;
    height: 100%;
}
.checkOutLeftColumnAddressButtonPopUpLayOut{
    background-color: #EDFDFD;
    border-radius: 24px;
    width: fit-content;
    height: fit-content;
    left: 12.5%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    
}
.checkOutLeftColumnAddressButtonPopUpAddresNew{
    padding: 18px;
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    border-radius: 24px 24px 0 0;
    border: 0;
    background-color: transparent;
}
.checkOutLeftColumnAddressButtonPopUpAddresNew:hover{
    background-color: rgba(92, 90, 87, 0.10);
}
.checkOutLeftColumnAddressButtonPopUpAddresRow{
    padding: 24px 18px 18px;
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    border-radius: 0 0 24px 24px;
    border: 0;
    background-color: transparent;
}
.checkOutLeftColumnAddressButtonPopUpAddresRow:hover{
    background-color: rgba(92, 90, 87, 0.10);
}




.checkOutLeftColumnInfoFormContainer{
    width: 90%;
    padding: 12px 0 21px;
}
.checkOutLeftColumnInfoFormTop{
    max-width: 528px;
    height: 46px;
    display: flex;
}
.checkOutLeftColumnInfoFormBottom{
    max-width: 528px;
    height: 46px;
    display: flex;
    padding-top: 12px;
}
.checkOutLeftColumnInfoFormIteam{
    flex: 1 ;
    width: 25%;
    height: 46px;
    border-radius: 15px;
    border: 1px solid #808080;
    background: rgba(217, 217, 217, 0.00);
    margin-right: 12px;
    padding-left: 17px;
    color: #808080;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkOutLeftColumnTimeDeliveryOptionsContainer{
    padding-top: 12px;
    width: 100%;
}

.checkOutLeftColumnTimeDeliveryOptions:hover{
    background-color: rgba(92, 90, 87, 0.10);
}
.checkOutLeftColumnCart{
    padding-top: 21px;
    width: 100%;
    max-width: 600px;
}
.checkOutLeftColumnCartContainer{
    border-radius: 32px;
    background: #EDFDFD;
    padding: 36px;
    height: fit-content;
}
.checkOutLeftColumnCartTitle{
    display: flex;
    width: 100%;
}
.checkOutLeftColumnCartTitleText{
    width: 50%;
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.checkOutLeftColumnCartTitleEmptyCartButton{
    border: 0;
    background-color: transparent;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
    color: #808080;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.checkOutLeftColumnCartTitleEmptyCartButton:active{
    color: black;
}

.checkOutLeftColumnCartProductsIteamContainer{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 41px;
}
.checkOutLeftColumnCartProductsIteamImageContainer{
    width: 50%;
    display: flex;
    align-items: center;
    font-family: "Product Sans", sans-serif;
}
.checkOutLeftColumnCartProductsIteamAddMoreContainer{
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: end;


}
.checkOutLeftColumnCartProductsIteamAddMoreLayout{
    width: fit-content;
    display: flex;
    align-items: center;
}
.checkOutLeftColumnCartProductsIteamAddNumber{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background:  transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
}
.checkOutLeftColumnCartProductsIteamAddMorePlus{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: rgba(92, 90, 87, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.checkOutLeftColumnCartProductsIteamPrice{
    width: 33.3333%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Product Sans", sans-serif;
    font-size: 22px;
}

.checkOutLeftColumnCartProductsAddUtensilButton{
    margin-top: 41px;
    background: rgba(92, 90, 87, 0.10);
    border: 0;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: #313638;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    
}
.checkOutAddNewAddress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;/* Semi-transparent gray */
    background-color: rgba(49, 54, 56, 0.3);
    z-index: 1000;
}

.NewAdressComponentContainer{
    width: 960px;
    height: 608px;
    padding: 36px 16px 16px 16px;
    position: relative;
}
.NewAdressComponentSearchContainer{
 padding-left: 16px;
 padding-bottom: 16px;
}
.NewAdressComponentSearchTextsContainer{
    margin-bottom: 36px;
}
.NewAdressComponentSearchTitle{
    color: #313638;
    font-family: "Product Sans",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.NewAdressComponentSearchSubTitle{
    color: #313638;
    font-family: "Product Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.NewAdressComponentSearchBarContainer{
    display: flex;
    align-items: center;
}
.NewAdressComponentSearchBar{
    display: flex;
    align-items: center;
    width: 728px;
    height: 48px;
    border-radius: 15px;
    padding: 0 15px;
    background: rgba(92, 90, 87, 0.10);
}
.NewAdressComponentSearchBarInput{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0;
    margin: 10px;
    color: #313638;
    font-family: "Product Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}
.NewAdressComponentSearchBarButton{
    width: 160px;
    height: 48px;
    border-radius: 15px;
    background: #1EE3E4;
    color: #F5F4F2;
    font-family: "Product Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 8px;
    transition: all 0.2s ease-in-out;
}
.NewAdressComponentMapsContainer{
    width: 100%;
    background-color: #F5F4F2;
    height: 400px;
    border-radius: 16px;
}
.autoCompleteCollectionIteam{
    padding: 20px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
   
}
.autoCompleteCollectionIteam:hover{
    background-color: rgba(92, 90, 87, 0.10);
}
.autoCompleteCollectionIteamText{
    color: #313638;
    font-family: "Product Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkOutRightColumnContainer{
    background-color: aqua;
    width: 50%;
}


