@font-face {
    font-family: "Product Sans";
    src: url("../assets/fonts/product-sans/Product\ Sans\ Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Product Sans";
    src: url("../assets/fonts/product-sans/Product\ Sans\ Bold.ttf");
    font-weight: bold;
    font-style: bold;
}
*{
    box-sizing: border-box;
}
div {
    display: block;
}
html, body {
    margin: 0;
    padding: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

button{
    padding: 0px;
    border: 0px;
}
ul{
    list-style: none;
    padding: 0px;
}