@font-face {
    font-family: "Bree Serif";
    src: url("../assets/fonts/Bree_Serif/BreeSerif-Regular.ttf");
}
html, body { 
    font-family: "Bree Serif";
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    }
