@font-face {
    font-family: "Product Sans";
    src: url("../../assets/fonts/product-sans/Product\ Sans\ Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Product Sans";
    src: url("../../assets/fonts/product-sans/Product\ Sans\ Bold.ttf");
    font-weight: bold;
    font-style: bold;
  }
.registerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Product Sans";
}
.rightSideContainer{
    background-color: #1BBABB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.textContainer{
    width: 691px;
    height: 412px;
    padding-top: 65px;
    padding-bottom: 117px;
    text-align: start;
}
.titleLogin{
    width: 691px;
    height: 202px;
    color: #FFF;
    font-family: "Product Sans";
    font-size: 80px;
    font-style: bold;
    font-weight: bold;
    line-height: bold;
}
.subTitleLogin{
    padding-top: 58px;
    width: 691px;
    height: 152px;
    color: #FFF;
    font-family: "Product Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.registerText{
    width: 353px;
    height: 65px;
    flex-shrink: 0;
    color: #000;
    font-family: "Product Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.registerForm{
    height: 415px;
    width: 500px;
}
.inputContainer{
    width: 500px;
    height: 90px;
    padding-top: 35px;
}
.inputStyle{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    color: rgba(0, 0, 0, 0.50);
    font-family: "Product Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    outline: none;
}

.buttonsContainer{
    padding-top: 35px;
}
.buttonStyle{
    border: 0px;
    width: 178px;
    height: 70px;
    border-radius: 20px;
    background: #1BBABB;
    color: #FFF;
    font-family: "Product Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.forgotStyle{
    color: #1BBABB;
    font-family: "Product Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-left: 20px;
}